/* categorias */
.cajaCategorias{
    display: flex;
    flex-direction: row; 
    gap: 15px;
    justify-content:space-around ;
    padding: 0px 60px;
   }
   .cajitaCategoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 171px;
    background: #252525;
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    border-radius: 15px;
    gap: 5px;
    font-family: 'Montserrat', sans-serif;
   }
   .cajitaCategoria button{
    width: 24px;
    height: 4px ;
   }
   .cajitaCategoria img{
    width: 85px;
    height: 85px;
   }
    
   
   /* populares */
    .cajaPopulares{
      display: flex;
      flex-direction: row; 
      gap: 20px;
      justify-content:center ;
      padding: 10px 80px;
      margin-top: 30px;
      flex-wrap: wrap;
      margin: 0px 140px;
     }
     .cajitaPopulares{
      display: flex;
      flex-direction: column;
      width: 282px;
      height: 213px;
      background: #252525;
      box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
      border-radius: 15px;
      gap: 5px;
      font-family: 'Montserrat', sans-serif;
     }
     .cajitaPopulares img{
      margin: 10px 20px;
     }
     .cajitaPopulares p{
      margin-top: 1px;
      padding-left: 10px;
     }
     .cajitaPopulares button{
      width: 85px;
      height: 29px;
     }
     .pap{
      margin-top: 1px;
      padding-left: 10px;
     }
     .pop{
      display: flex;
      justify-content: space-around;
      gap: 110px;
     }